.component--navigation {
  color: #fff;
  background-color: rgb(19, 23, 87);
}

.button {
  background: none;
  padding: 10px 20px;
}

.start-chat-button {
  background-color: cornflowerblue;
}

.main-navigation {

}

.navigation {
  .navigation--unordered-list {
    padding: 40px 10px;
    list-style-type: none;
  }
}

.navigation--list-item {
  text-align: center;
  margin: 20px auto 0;
  list-style-type: none;
}