/* search bar */

.main--search-bar {
  background-color: #EEEEEE;
  padding: 10px 20px;
  margin: 10px;
  width: 200px;
  border-radius: 10px;
  white-space: nowrap;
}

.search-bar--input {
  background: none;
  outline: none;
  border-width: 0 0 1px 0;
  border-color: #000;
}